html{
    scroll-behavior: smooth;
}
/* body{
    width: auto;
} */
.body-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "section-about"
    "section-prices"
    "footer"
    "contact";
}
header{
    background-color: white;
    padding-top: 5px;
    height: auto;
    position: fixed;
    width: 100%;
}
.header-class{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    display: flex;
}
.logo-header{
    padding-left: 30px;
    height: 40px;
}
.logo-text{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    color: #569BEB;
    padding-top: 5px;
    padding-left: 40px;
}
.navigator{
    margin-top: 8px;
    /* position: absolute;
    right: 0; */
    padding-right: 50px;
    color: black;
    font-family: 'Calibri';
    /* font-size: 18px; */
    font-size: 18px;
    /* background-color: #4A9DC0; */
}
.nav-menu{
    margin-right: 50px;
}
.nav-menu a{
    text-decoration: none;
    color: black;
}

main{
    height: auto;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #FFFCAB;
    font-family: 'Calibri';
}
#home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.text-container{
    width: 650px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.text1{
    color: #317233;
    font-size: 3em;
    /* font-size: 48px; */
    font-weight: 300;
    padding-left: 30px;
    padding-top: 35px;
}
.text2{
    /* font-size: 36px; */
    font-size: 2em;
    font-weight: 300;
    padding-top: 35px;
    padding-left: 30px;
    width: 85%;
    text-align: justify;
}
.text3{
    color: #6B6B6B;
    font-size: 24px;
    font-weight: 300;
    padding-top: 40px;
    padding-left: 30px;
    width: 85%;
    text-align: justify;
}
.text4{
    color: #6B6B6B;
    font-size: 20px;
    font-weight: 300;
    padding-top: 80px;
    padding-left: 30px;
    width: 85%;
    text-align: justify;
}


.block-img{
    display: grid;
    grid-gap: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: auto;
    justify-items: right;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "bl1 bl2"
    "bl3 bl2"
    "bl4 bl4";
}

.block-img img{
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.25);
}
.block-img img:nth-child(1){
    grid-area: bl1;
    object-fit: cover;
    height: 270px;
    width: 300px;
}
.block-img img:nth-child(2){
    grid-area: bl2;
    object-fit: cover;
    height: 515px;
    width: 280px;
}
.block-img img:nth-child(3){
    grid-area: bl3;
    object-fit: cover;
    height: 230px;
    width: 300px;
}
.block-img img:nth-child(4){
    grid-area: bl4;
    object-fit: cover;
    height: 230px;
    width: 650px;
}

.about-page{
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    background-color: #317233;
}
#about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.block-img2 img{
    margin: 20px;
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.25);
}
.block-img2{
    padding-top: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.block-img2 img:nth-child(1){
    object-fit: cover;
    width: 515px;
    height: 240px;
}
.block-img2 img:nth-child(2){
    object-fit: cover;
    width: 515px;
    height: 240px;
}
.block-img2 img:nth-child(3){
    object-fit: cover;
    width: 515px;
    height: 240px;
}


.about-us-section{
    padding-right: 20px;
    padding-top: 70px;
    width: 50%;
    font-family: 'Calibri';
    color: white;
}
.about-us-section h1{
    font-size: 48px;
    font-weight: 300;
    text-align: right;
}
.about-us-section h2{
    padding-top: 40px;
    font-size: 36px;
    font-weight: 300;
    text-align: right;

}
.about-us-section h3{
    padding-top: 60px;
    width: auto;
    font-size: 24px;
    font-weight: 100;
    text-align: justify;
}
.about-us-section h4{
    padding-top: 90px;
    color: #cccccc;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}


.prices-page{
    padding-top: 1px;
    height: auto;
    background-color: #FFFCAB;
    font-family: 'Calibri';
}
.prices-page h1{
    padding-top: 50px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}
.prices-page p{
    padding-top: 5px;
    /* padding-left: 25%; */
    margin: auto;
    width: 50%;
    font-size: 32px;
    font-weight: 300;
    color: #6B6B6B;
    text-align: center;
}
.prices-container{
    padding-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;

}
#align-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 20px;
    width: 290px;
    min-height: 450px;
    max-height: auto;
    background-color: #317233;
    border-radius: 50px;
    color: white;
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.25);
}
.container h1{
    font-weight: 300;
}
.container div{
    font-size: 24px;
    font-weight: 300;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}
.price-button{
    display: flex;
    padding-top: 20px;
}
.price-button span{
    text-align: center;
    font-size: 38px;
}
.price-button button{
    margin-left: 45px;
    width: 120px;
    height: 60px;
    background-color: #4A9DC0;
    border-radius: 50px;
    border: none;
    font-family: 'Calibri';
    font-size: 24px;
    color: white;
}
.lower-button{
    background-color: #4A9DC0;
    border-radius: 50px;
    border: none;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 55px;
    width: 60%;
    height: 90px;
}
.lower-button p{
    font-size: 38px;
    padding-top: 20px;
    color: white;
}


.contacts{
    display: flex;
}
.contacts img{
    padding: 20px;
    width: 110px;
}
.contacts p{
    padding-top: 25px;
}
.contacts,
.contacts2{
    background-color: #317233;
}
.contacts2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Calibri';
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
}
.contacts2 div{
    margin: 80px;
    width: 200px;
}

.footer{
    height: 80px;
    padding-top: 2%;
    background-color: #FFFCAB;
    font-family: 'Calibri';
    text-align: center;
    font-size: 24px;
}
@media(max-width:375px){
    .block-img{
        margin: 0 auto;
        justify-items: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "bl1 bl1"
        "bl2 bl2"
        "bl3 bl3"
        "bl4 bl4";
    }
    .block-img img:nth-child(4){
        grid-area: bl4;
        object-fit: cover;
        height: auto;
        width: 50px;
    }
    #last-img{
        grid-area: bl4;
        object-fit: cover;
        height: auto;
        width: 300px;
    }
}
@media(max-width:960px){
    .navigator{
        margin-left: 100px;
        margin-top: 20px;
        margin-bottom: 15px;
        justify-content: center;
    }
    .header-class{
        justify-content: center;
    }
}
@media(max-width:375px){
    header{
        background-color: white;
        padding-top: 5px;
        height: auto;
        position: fixed;
        width: 100%;
    }
    .logo-header{
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;
        height: 25px;
    }
    .logo{
        margin: 0 auto;
        justify-content: center;
    }
    .logo-text{
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
        color: #569BEB;
        padding-top: 15px;
    }
    .navigator{
        margin: 0 auto;
        font-size: 15px;
        /* margin-left: 100px; */
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .nav-menu{
        margin: 0 auto;
        padding: 0;
        margin-left: 30px;
    }

}
@media(max-width:960px){
    #home{
        justify-content: center;
    }
    #text-home{
        margin: 0 auto;
        margin-left: 35px;
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:375px){
    #home{
        /* justify-content: center; */
    }
    #text-home{
        margin: 0 auto;
        width: 360px;
        font-size: 10px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
    }
    .text3{
        padding-top: 40px;
        font-size: 18px;
    }
    .text4{
        padding-top: 40px;
        font-size: 18px;
    }
}
@media(max-width:960px){
    #about-container{
        padding-top: 120px;
        width: 90%;
        justify-content: center;
    }
    #about{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }
    .block-img2{
        margin: 0 auto;
        margin: auto;
        justify-content: center;
    }
    .about-us-section{
        margin: 0 auto;
        justify-content: center;
        /* padding-right: 20px; */
        padding-top: 70px;
        font-family: 'Calibri';
        color: white;
    }
    #prices{
        padding-top: 80px;
    }
    #prices p{
        padding-top: 15px;
        /* padding-left: 25%; */
        margin: auto;
        width: 100%;
    }
    .prices-container{
        justify-content: center;
        margin: 0 auto;
    }
    #block-p{
        margin: 0 auto;
        margin: 5px;
        margin-top: 20px;
    }
    #lower-button1{
        margin-top: 50px;
        padding-top: 5px;
        width: 80%;
    }
}
@media(max-width:375px){
    .block-img2{
        margin: 0 auto;
        padding: 0;
        margin-right: 55px;
        justify-content: center;
        width: 300px;
    }
}
@media(max-width:375px){
    .about-us-section h1{
        margin: 0 auto;
        font-size: 30px;
    }
    .about-us-section h2{
        margin: 0 auto;
        font-size: 25px;
    }
    .about-us-section h3{
        margin: 0 auto;
        padding-top: 20px;
        font-size: 20px;
    }
    .about-us-section h4{
        margin: 0 auto;
        padding-top: 20px;
        font-size: 18px;
    }
}
@media(max-width:375px){
    #prices h1{
        padding-top: 20px;
        font-size: 35px;
    }
    #prices p{
        width: 80%;
        font-size: 20px;
    }
    .container{
        margin: 0 auto;
        margin-right: 20px;
        width: 220px;
        min-height: 280px;
        max-height: auto;
    }
    .container h1{
        padding-top: 15px;
        font-size: 30px;
    }
    .container div{
        font-size: 15px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 25px;
        text-align: justify;
    }
    .price-button{
        padding-top: 30px;
    }
    .price-button span{
        font-size: 30px;
    }
    .price-button button{
        height: 40px;
        align-items: center;
        font-size: 20px;
    }
    .price-button1{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #lower-button1{
        margin: 0 auto;
        margin-top: 15px;
        padding-bottom: 60px;
        margin-bottom: 15px;
        width: 50%;
        height: 40px;

    }
    .lower-button{
        padding: 0;

    }
    .lower-butt{
        padding-bottom: 5px;
    }
}
@media(max-width:960px){
    body{
        max-width: 960px;
    }
    .contacts2 div{
        margin: 0 auto;
        margin: 35px;
        justify-content: space-between;
        width: 200px;
    }
    .footer{
        padding: 30px;
        height: auto;
    }
}
@media(max-width:375px){
    body{
        max-width: 375px;
    }
    .contacts2 div{
        margin: 0 auto;
        margin: 15px;
        font-size: 15px;
        justify-content: space-between;
        width: 200px;
    }
    .contacts2{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .footer{
        padding: 5px;
        font-size: 10px;
    }
}