html{
    scroll-behavior: smooth;
}
/* body{
    width: auto;
} */
.body-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "section-about"
    "section-prices"
    "footer"
    "contact";
}
header{
    background-color: white;
    padding-top: 5px;
    height: auto;
    position: fixed;
    width: 100%;
}
.header-class{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    display: flex;
}
.logo-header{
    padding-left: 30px;
    height: 40px;
}
.logo-text{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    color: #569BEB;
    padding-top: 5px;
    padding-left: 40px;
}
.navigator{
    margin-top: 8px;
    /* position: absolute;
    right: 0; */
    padding-right: 50px;
    color: black;
    font-family: 'Calibri';
    /* font-size: 18px; */
    font-size: 18px;
    /* background-color: #4A9DC0; */
}
.nav-menu{
    margin-right: 50px;
}
.nav-menu a{
    text-decoration: none;
    color: black;
}

main{
    height: auto;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #FFFCAB;
    font-family: 'Calibri';
}
#home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.text-container{
    width: 650px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.text1{
    color: #317233;
    font-size: 3em;
    /* font-size: 48px; */
    font-weight: 300;
    padding-left: 30px;
    padding-top: 35px;
}
.text2{
    /* font-size: 36px; */
    font-size: 2em;
    font-weight: 300;
    padding-top: 35px;
    padding-left: 30px;
    width: 85%;
    text-align: justify;
}
.text3{
    color: #6B6B6B;
    font-size: 24px;
    font-weight: 300;
    padding-top: 40px;
    padding-left: 30px;
    width: 85%;
    text-align: justify;
}
.text4{
    color: #6B6B6B;
    font-size: 20px;
    font-weight: 300;
    padding-top: 80px;
    padding-left: 30px;
    width: 85%;
    text-align: justify;
}


.block-img{
    display: grid;
    grid-gap: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: auto;
    justify-items: right;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "bl1 bl2"
    "bl3 bl2"
    "bl4 bl4";
}

.block-img img{
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.25);
}
.block-img img:nth-child(1){
    grid-area: bl1;
    object-fit: cover;
    height: 270px;
    width: 300px;
}
.block-img img:nth-child(2){
    grid-area: bl2;
    object-fit: cover;
    height: 515px;
    width: 280px;
}
.block-img img:nth-child(3){
    grid-area: bl3;
    object-fit: cover;
    height: 230px;
    width: 300px;
}
.block-img img:nth-child(4){
    grid-area: bl4;
    object-fit: cover;
    height: 230px;
    width: 650px;
}

.about-page{
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    background-color: #317233;
}
#about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.block-img2 img{
    margin: 20px;
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.25);
}
.block-img2{
    padding-top: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.block-img2 img:nth-child(1){
    object-fit: cover;
    width: 515px;
    height: 240px;
}
.block-img2 img:nth-child(2){
    object-fit: cover;
    width: 515px;
    height: 240px;
}
.block-img2 img:nth-child(3){
    object-fit: cover;
    width: 515px;
    height: 240px;
}


.about-us-section{
    padding-right: 20px;
    padding-top: 70px;
    width: 50%;
    font-family: 'Calibri';
    color: white;
}
.about-us-section h1{
    font-size: 48px;
    font-weight: 300;
    text-align: right;
}
.about-us-section h2{
    padding-top: 40px;
    font-size: 36px;
    font-weight: 300;
    text-align: right;

}
.about-us-section h3{
    padding-top: 60px;
    width: auto;
    font-size: 24px;
    font-weight: 100;
    text-align: justify;
}
.about-us-section h4{
    padding-top: 90px;
    color: #cccccc;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}


.prices-page{
    padding-top: 1px;
    height: auto;
    background-color: #FFFCAB;
    font-family: 'Calibri';
}
.prices-page h1{
    padding-top: 50px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}
.prices-page p{
    padding-top: 5px;
    /* padding-left: 25%; */
    margin: auto;
    width: 50%;
    font-size: 32px;
    font-weight: 300;
    color: #6B6B6B;
    text-align: center;
}
.prices-container{
    padding-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;

}
#align-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 20px;
    width: 290px;
    min-height: 450px;
    max-height: auto;
    background-color: #317233;
    border-radius: 50px;
    color: white;
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.25);
}
.container h1{
    font-weight: 300;
}
.container div{
    font-size: 24px;
    font-weight: 300;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}
.price-button{
    display: flex;
    padding-top: 20px;
}
.price-button span{
    text-align: center;
    font-size: 38px;
}
.price-button button{
    margin-left: 45px;
    width: 120px;
    height: 60px;
    background-color: #4A9DC0;
    border-radius: 50px;
    border: none;
    font-family: 'Calibri';
    font-size: 24px;
    color: white;
}
.lower-button{
    background-color: #4A9DC0;
    border-radius: 50px;
    border: none;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 55px;
    width: 60%;
    height: 90px;
}
.lower-button p{
    font-size: 38px;
    padding-top: 20px;
    color: white;
}


.contacts{
    display: flex;
}
.contacts img{
    padding: 20px;
    width: 110px;
}
.contacts p{
    padding-top: 25px;
}
.contacts,
.contacts2{
    background-color: #317233;
}
.contacts2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Calibri';
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
}
.contacts2 div{
    margin: 80px;
    width: 200px;
}

.footer{
    height: 80px;
    padding-top: 2%;
    background-color: #FFFCAB;
    font-family: 'Calibri';
    text-align: center;
    font-size: 24px;
}